@import '../common/styles/sass/variables';


.hireBlock {
    background: $bgSecondary;
}

.hireContainer {
    height:20vh;
    background: $bgSecondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hireBtn {
    padding: 10px 20px;
    //background-color: cadetblue;
}

.title {
    //background-color: darkgreen;
}