.hireBlock {
    background: darkgreen;
}

.hireContainer {
    height:20vh;
    background: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hireBtn {
    padding: 10px 20px;
    background-color: cadetblue;
}

.title {
    background-color: darkgreen;
}