.contactsBlock {
    background: cadetblue;
    height: 70vh;
}

.block {
    border: 1px solid red;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.contacts_form {
    width: 100%;
    height: 150px;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px ;
    background: silver;
}