.contactsBlock {
    background: cadetblue;
    /*height: 70vh;*/
}


.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

/*.block {*/
/*    border: 1px solid red;*/
/*    height: 50vh;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/


.contactsForm {
    width: 50%;
    /*height: 150px;*/
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*margin-bottom: 20px ;*/
    background-color: silver;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
}



.submitBtn {
    padding: 10px 20px;
    background-color: crimson;
}