@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';


.skillsBlock {
    background-color: $bgSecondary;
    padding : 0 0 20px 0;

    .skillsContainer {
        flex-direction: column;
        justify-content: center;
        justify-content: center;

        .skills {
            margin-top: 30px;
            //border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            background-color: $bgSecondary;
        }
    }
}


//.title {
//background-color: cornflowerblue;





