.mainBlock {
    height: 100vh;
    background-color: #d5eae4;
}



.intro {
    width: 300px;
    background-color: antiquewhite;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: azure;
}

