@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.project {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: $bgSecondary;

    .image {
        height: 300px;
        @include bgSettings();
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .viewBtn {
            background: $primaryColor;
            padding: 10px 25px;
            text-decoration: none;
            text-align: center;
            user-select: none;
            position: relative;
            z-index: 1;
            color:$textColor ;
        }
        &::before {
            position: absolute;
            content: '';
            background-color: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.5;
        }
    }

    .projectInfo {
        padding: 25px 20px;

        .projectTitle {
            @include text($TitleFontFamily,16px,1.2,400 );
            letter-spacing: 1px;
            margin: 0 0 5px;
            color: #fff;
        }

        .description {
            @include text($TextFontFamily,12px, 1.8, 400);
            color: $textColor;
        }
    }
}
















