@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.nav {
    //border: 1px solid;
    width: 300px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.navContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.link {
    text-decoration: none;
    color: $textColor;
    font-family: $TextFontFamily;
}