@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.projectsBlock {
    background-color: $bgPrimary;
    padding: 100px 0;

    .projectsContainer {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;

        .projects {
            @include flex(row,space-between,flex-start,wrap );
            width: 100%;
            margin-top: 30px;
            @media screen and (max-width: 1428px) {
                justify-content: center;
            }
        }
    }
}







