.projectsBlock {
    background-color: silver;
    height: 100vh;
}

.projectsContainer {
    flex-direction: column;
    justify-content: center;

}

.projects {
    border: 1px solid;
    background-color: cyan;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}